<div class=" ">
    <div class="hellooo text-white">
        <div class="container ">
            <div class="row ">
                <div class="col-4 text-center">
                    <h4><span class="fs-4">LOCATION</span> <br><span class="fs-6">2215 John Daniel Drive <br> Clark, MO
                            65243</span></h4>
                </div>
                <div class="col-4 text-center">
                    <h3>AROUND THE WEB</h3>
                    <div class="social mx-4">
                        <i class="fa-brands fa-facebook me-2"></i>
                        <i class="fa-brands fa-twitter me-2"></i>
                        <i class="fa-brands fa-linkedin-in me-2"></i>
                        <i class="fa-solid fa-globe me-2"></i>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>


    <footer class="bg-dark p-3 text-center text-white ">
        <p class="pt-2">Copyright © Your Website 2021</p>
    </footer>
</div>