<section class="about position-relative">
    <div class="container ">
        <div class=" col-12">
            <div class="about-content text-white position-absolute m-auto">
                <h1 class="text-center fw-bolder">ABOUT COMPONENT</h1>
                
                <div class="text-center pt-2">
                    <span class="line"></span><i class="fa-solid fa-star pe-4 ps-4"></i><span class="line"></span>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete
                                source files including HTML, CSS, and JavaScript as well as  optional SASS stylesheets
                                for
                                easy customization.</p>
                        </div>
                        <div class="col-6 ps-2">
                            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete
                                source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets
                                for
                                easy customization.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>