<section class="contact position-relative">
    <div class="container text-center position-absolute con ">
        <div class="title">
            <h1 class="fw-bolder">CONATCT SECTION</h1>
            <span class="line"></span><i class="fa-solid fa-star pe-4 ps-4"></i><span class="line"></span>
            <div class="container ">
                <div class="row  d-inline-block">
                    <input class="form-control mt-5 py-2 px-2" type="text" placeholder="userName">
                    <input class="form-control mt-5 py-2 px-2" type="number" placeholder="userAge">
                    <input class="form-control mt-5 py-2 px-2" type="email" placeholder="userEmail">
                    <input class="form-control mt-5 py-2 px-2" type="password" placeholder="userPassword">
                    <div>
                        <button class="btn btn-info float-start ms-4 mt-4 py-2 px-3 text-white">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>