<section class="portfolio position-relative">
    <div class="container text-center position-absolute port">
        <div class="title">
            <h1 class="fw-bolder">PORTFOLIO COMPONENT</h1>
            <span class="line"></span><i class="fa-solid fa-star pe-4 ps-4"></i><span class="line"></span>
        </div>
        <div class="row pt-5">

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="image">
                    <img src="../../assets/images/poert1.png" class="w-100 pe-3" alt="">
                    <div class="layer">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="image">
                    <img src="../../assets/images/port2.png" class="w-100 pe-3" alt="">
                    <div class="layer">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="image">
                    <img src="../../assets/images/port3.png" class="w-100 pe-3" alt="">
                    <div class="layer">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>

        </div>
        <div class="row pt-5">

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="image">
                    <img src="../../assets/images/poert1.png" class="w-100 pe-3" alt="">
                    <div class="layer">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="image">
                    <img src="../../assets/images/port2.png" class="w-100 pe-3" alt="">
                    <div class="layer">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="image">
                    <img src="../../assets/images/port3.png" class="w-100 pe-3" alt="">
                    <div class="layer">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
