<section class="hoome position-relative">
    <div class="container ">
        <div class=" col-12">
            <div class="home-content text-center text-white position-absolute m-auto">
                <img src="../../assets/images/avataaars.svg" class="w-75" alt="">
                <h1>START FRAMEWORK</h1>
                <br>
                <span class="line"></span><i class="fa-solid fa-star pe-4 ps-4"></i><span class="line"></span>
                <br><br>
                <p>Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</section>
